<div class="container" fxLayout="row">
  <div fxFlex="33%" ><button [disabled]="!this.previous" mat-flat-button color="primary" (click)="previousPage()"> < previous </button></div>
  <div fxFlex="33%" class="currentCounter">{{this.currentCount}} of: {{this.count}} records</div>
  <div fxFlex="33%" ><button [disabled]="!this.next" mat-flat-button color="primary" (click)="nextPage()"> next > </button></div>
</div>

<mat-accordion>
  <mat-expansion-panel *ngFor="let pokemon of this.pokemonList; let i=index"
                       (opened)="viewDetails(pokemon['id'], i)">
    <mat-expansion-panel-header>
      <h2>{{pokemon['name']}}</h2>
    </mat-expansion-panel-header>
    <div class="container" fxLayout="row">
      <div fxFlex="30%" *ngIf="pokemon['artUrl']">
        <img [src]="pokemon['artUrl']" alt="{{pokemon['name'] + ' image'}}" class="current_pokemon" height="150px">
      </div>
      <div>
        <p>Possible evolutions for {{pokemon['name']}}</p>
        <mat-accordion *ngIf="pokemon['evolutionLinks']">
          <mat-expansion-panel *ngFor="let link of pokemon['evolutionLinks']; let j=index" (opened)="viewEvolved(link)">
            <mat-expansion-panel-header>
              <h3>{{link['name']}} <span *ngIf="link['name']===pokemon['name']">(current state)</span></h3>
            </mat-expansion-panel-header>
            <div *ngIf="link['pokemon']">
              <div *ngIf="link['pokemon']['artUrl']">
                <img [src]="link['pokemon']['artUrl']" alt="{{link['pokemon']['name'] + ' image'}}" class="evolved_pokemon" height="100px">
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
