<div class="container_nav" >
  <div ><button [disabled]="!this.previous" mat-flat-button color="primary" (click)="previousPage()"> < previous </button></div>
  <div ><button [disabled]="!this.next" mat-flat-button color="primary" (click)="nextPage()"> next > </button></div>
</div>

<div class="container_body">

    <div class="pokemon_card"
         *ngFor="let pokemon of this.pokemonList; let i=index"
         (click)="viewDetails(pokemon['id'], i)">

      <div>{{pokemon['name']}}</div>

      <div *ngIf="pokemon['artUrl']">
        <img [src]="pokemon['artUrl']" alt="{{pokemon['name'] + ' image'}}" class="current_pokemon">
      </div>
      <div>


        <mat-accordion *ngIf="pokemon['evolutionLinks']">
          <p>Possible evolutions for {{pokemon['name']}}</p>
          <mat-expansion-panel *ngFor="let link of pokemon['evolutionLinks']; let j=index" (opened)="viewEvolved(link)">
            <mat-expansion-panel-header>
              <h3>{{link['name']}} <span *ngIf="link['name']===pokemon['name']">(current state)</span></h3>
            </mat-expansion-panel-header>
            <div *ngIf="link['pokemon']">
              <div *ngIf="link['pokemon']['artUrl']">
                <img [src]="link['pokemon']['artUrl']" alt="{{link['pokemon']['name'] + ' image'}}" class="evolved_pokemon" height="100px">
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>

</div>
